li {
  list-style: none;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background: url("../img/movie.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
.jumbotron {
  background: inherit;
  text-align: center;
}

.panel {
  background: inherit;
}

.panel-heading {
  text-align: center;
}
